.location {
  display: flex;

  justify-content: space-between;
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  // &__image {
  //   width: 22px;
  //   height: 26px;
  // }
  &__city {
    font-family: 'Manrope-SemiBold';
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-white-color);
    text-overflow: ellipsis;
    @media screen and (min-width: 400px) {
      font-size: 20px;
    }
  }
  &__date-text {
    font-family: 'Manrope-Regular';
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-white-color);
    @media screen and (min-width: 1000px) {
      font-size: 20px;
    }
  }
}
