.hero {
  background-color: var(--background-color-green);
  // min-width: 400px;
  border-radius: 24px;
  padding: 16px 24px;
  &__wrapper {
    display: flex;
    gap: 16px;
    flex-direction: column;
  }
  &__title {
    font-family: 'Playball';
    font-size: 31px;
    line-height: 1.25;
    color: var(--text-white-color);
  }

  &__temperture-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__temperture-image {
    width: 144px;
    height: 144px;
  }
  &__temperture {
    font-family: 'Manrope-Regular';
    font-size: 72px;
    line-height: 1;
    color: var(--text-white-color);
    margin-top: -16px;
  }
  &__image {
    margin-top: 26px;
    width: 283px;
    height: 320px;
  }
}

.horizont {
  border: 0.5px var(--text-white-color) dashed;
  margin-top: 30px;
  margin-bottom: 24px;
}
