.day-card {
  min-width: 143px;
  // height: 272px;
  background-color: var(--background-color-yellow);
  border-radius: 80px;
  padding: 32px 32px 48px 32px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
  @media screen and (min-width: 600px) {
    min-width: 160px;
  }
  &__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__day {
    font-family: 'Manrope-SemiBold';
    font-size: 32px;
    line-height: 1;
  }
  &__image {
    width: 60px;
    height: 60px;
    @media screen and (min-width: 600px) {
      width: 96px;
      height: 96px;
    }
  }
  &__temp {
    font-family: 'Manrope-Bold';
    font-size: 48px;
    line-height: 1;
  }
}
