.search-bar {
  width: 100%;
  position: relative;
  &__title {
    display: block;
    font-family: 'Playball';
    padding: 16px;
    font-size: 24px;
    color: var(--text-red-collor);
    text-align: center;
    cursor: pointer;
    &:hover {
      color: var(--text-black-collor);
    }
    @media screen and (min-width: 600px) {
      padding: 32px;
      font-size: 40px;
    }
    @media screen and (min-width: 1401px) {
      display: none;
    }
  }
  &__separator {
    display: flex;
    gap: 10px;
  }
  &__form {
    width: 100%;
    display: flex;
    gap: 4px;
    flex-direction: row;
  }
  &__button {
    right: 75px;
    top: 95px;
    position: absolute;
    width: 40px;
    min-height: 40px;
    max-height: 57px;
    border: none;
    border-radius: 50%;
    background-color: var(--background-color-green);
    color: var(--text-white-color);
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    @media screen and (min-width: 332px) {
      top: 68px;
    }
    @media screen and (min-width: 600px) {
      top: 118px;
    }

    @media screen and (min-width: 1000px) {
      right: 0px;
      top: 0px;
      flex: 1;
      border-radius: 4px 40px 40px 4px;
      position: relative;
      width: 100%;
      font-size: 18px;
      gap: 10px;
      color: var(--text-white-color);
      line-height: 1.5;
      padding: 15px 24px;
    }

    &:hover {
      background-color: var(--background-color-orange);
    }
    &:active {
      background-color: var(--background-color-dark-orange);
    }
  }

  &__hide-text {
    display: none;
    @media screen and (min-width: 1000px) {
      display: flex;
    }
  }

  &__button-settings {
    padding: 16px;
    border-radius: 50%;
    border: none;
    width: 56px;
    height: 56px;
  }

  &__icon-settings {
    width: 24px;
    height: 24px;
  }
  &__input {
    position: relative;
    border: none;
    padding: 16px 0 16px 50px;
    background-color: var(--background-color-light-gray);
    line-height: 1.5;
    font-size: 18px;
    height: 100%;
    width: 100%;
    border-radius: 40px;
    transition: 0.3s;
    &:hover {
      background-color: var(--background-color-yellow);
    }
    &:focus {
      background-color: var(--background-color-yellow);
    }
    @media screen and (min-width: 1000px) {
      border-radius: 40px 4px 4px 40px;
    }
  }
  &__icon {
    width: 24px;
    height: 24px;

    // fill: white;
  }
  &__divider {
    width: 100%;
    height: 1px;
    background-color: var(--background-color-divider);
    margin-top: 32px;
  }
}
