.welcome-screen {
  width: 100vw;
  height: 100vh;
  background-color: #f7faee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  padding: 16px 24px;
  // @media screen and (min-width: 600px) {
  //   padding: 16px 24px 128px 16px;
  // }
  @media screen and (min-width: 1024px) {
    padding: 16px 24px 128px 16px;
  }

  &__title {
    line-height: 1.25;
    font-size: 20px;
    color: var(--text-red-collor);
    text-align: center;
    font-family: Playball;
    @media screen and (min-width: 300px) {
      font-size: 40px;
    }
    @media screen and (min-width: 600px) {
      font-size: 80px;
    }
  }
  &__paragraph {
    margin-top: 8px;
    line-height: 1.5;
    font-size: 12px;
    color: var(--text-black-collor);
    text-align: center;
    font-family: Manrope-Regular;
    @media screen and (min-width: 300px) {
      font-size: 18px;
    }
    @media screen and (min-width: 600px) {
      font-size: 24px;
    }
  }
  &__button {
    padding: 15px 24px;
    border: none;
    border-radius: 40px;
    background-color: var(--background-color-green);
    color: var(--text-white-color);
    line-height: 1.5;
    font-size: 18px;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      background-color: var(--background-color-orange);
    }
    &:active {
      background-color: var(--background-color-dark-orange);
    }
  }
  &__input-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    position: relative;
    @media screen and (min-width: 1024px) {
    }
  }
  &__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    @media screen and (min-width: 600px) {
      flex-direction: row;
    }
  }
  &__image-wrapper {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 320px;
    padding-top: 40px;
    display: flex;
    justify-content: center;

    @media screen and (min-width: 1024px) {
      position: absolute;
      width: 305px;
      height: 440px;
      top: -40px;
      left: -283px;
    }
  }
  // &__image {
  // }
}
