.fade-in-bottom {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInBottom 0.4s ease-in-out forwards;
}
@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-out-bottom {
  opacity: 1;
  transform: translateY(0px);
  animation: fadeOutBottom 0.4s ease-in-out forwards;
}

@keyframes fade-out-bottom {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}
