.indicator {
  width: 100%;
  height: 412px;
  padding: 16px 16px;
  border-radius: 24px;

  background-color: var(--background-color-yellow);
  display: flex;
  flex-direction: column;
  gap: 16px;
  @media screen and (min-width: 1400px) {
    width: 464px;
  }
  &__item {
    background-color: var(--background-color-white);
    padding: 16px;
    border-radius: 16px;
  }
  &__text {
    font-family: 'Manrope-Light';
    font-size: 18px;
    line-height: 1;
    display: flex;
    justify-content: space-between;
  }
  &__span {
    font-family: 'Manrope-Bold';
  }
}
